# === Google Cloud credentials (JANGAN KE GITHUB) ===
server/gcloud/*.json

# === Environment files ===
.env

# === Cache hasil scraping ===
server/products_tokopedia_cache.json

# === Artifacts ===
*.mp3

# === Python ===
__pycache__/
*.pyc
*.pyo

# === OS / Editor ===
.DS_Store
Thumbs.db
.vscode/
