# === Google Cloud credentials (JANGAN KE GITHUB) ===
server/gcloud/key.json

# === Cache hasil scraping ===
server/products_tokopedia_cache.json

# === Environment files ===
.env

# secrets
server/gcloud/*.json
*.json

# artifacts
*.mp3
server/test_gcloud.py

# === Python ===
__pycache__/
*.pyc

# === OS / Editor ===
.DS_Store
Thumbs.db
.vscode/
